body {
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 52px;
  color: rgb(88, 49, 156);
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
}
